#banner-warning-sign {
  background: url('../images/Print-Project-Gallery-Background.jpg') no-repeat right top/cover;
}

#banner-music-jazz {
  background: url('../images/Print-Jazz-Banner-Background.jpg') no-repeat right top/cover;
}

#banner-car-ad {
  background: url('../images/Print-Car-Ad-Banner-Background.jpg') no-repeat right top/cover;
}

#travel-ad {
  background: url('../images/Print-Travel-Ad-Background.jpg') no-repeat right top/cover;
}

#energy-saving-sign {
  background: url('../images/Print-Energy-Saving-Banner-Background.jpg') no-repeat right top/cover;
}

#rock-band-cd-mockup {
  background: url('../images/Print-Rock-Band-Banner-Background.jpg') no-repeat right top/cover;
}

.slider-section-setting {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 100%;
}

.slideSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slideSection.currentActive {
  opacity: 1;
}

.slideSection .slider-content {
  position: absolute;
  bottom: 35px;
  left: -600px;
  opacity: 0;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 50;
}

.slideSection .slider-graphic-content {
  position: absolute;
  top: -600px;
  right: 45px;
  opacity: 0;
  width: 45%;
  height: 50vh;
  color: #333;
  z-index: 50;
}

.slideSection .slider-graphic-content img {
  max-width: 100%;
  max-height: 100%;
}

.slideSection .slider-content h1 {
  margin-bottom: 10px;
}

.slideSection .slider-content p {
  margin-bottom: 0px;
}

.slideSection.currentActive .slider-content {
  opacity: 1;
  left: 0px;
  transition: all 0.7s ease-in-out 0.3s;
}

.slideSection.currentActive .slider-graphic-content {
  opacity: 1;
  top: 100px;
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons-slider-section-settings {
  position: relative;
  bottom: 70vh;
}

.buttons-slider-section-settings a:last-of-type {
  position: absolute;
  right: 0px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, var(--p, .3)) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, var(--p, .3)) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, var(--p, .3))));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, var(--p, .3)) 100%);
}

.buttons-slider-section-settings a:first-of-type {
  position: absolute;
  left: 0px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, var(--p, .3)) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, var(--p, .3)) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, var(--p, .3))), to(rgba(0, 0, 0, .0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, var(--p, .3)) 0, rgba(0, 0, 0, .0001) 100%);
}

.buttons-slider-section-settings a:hover:last-of-type {
  --p: 0.4;
}

.buttons-slider-section-settings a:hover:first-of-type {
  --p: 0.4;
}

.buttons-slider-section-settings a {
  padding: 35vh 10px;
  border: none;
  height: 70vh;
  z-index: 999;
}

.buttons-slider-section-settings a i.bi {
  margin: 0px;
}

.btn-galler-arrow {
  color: #FFFFFF;
}

.btn-galler-arrow:hover {
  color: #ee9d26;
}

@media (max-width: 1400px) {
  .slideSection .slider-content {
    bottom: 30px;
    width: 80%;
    padding: 20px 20px 20px 35px;
  }

  .slideSection.currentActive .slider-graphic-content {
    top: 40px;
  }

  .slideSection .slider-graphic-content {
    right: 0%;
    width: 80%;
    height: 50vh;
  }
}

@media (max-width: 992px) {
  .slideSection.currentActive .slider-graphic-content {
    top: 0px;
  }

  .slideSection .slider-graphic-content {
    width: 100%;
    height: auto;
  }

  .slideSection .slider-graphic-content img {
    max-width: 600px;
    max-height: 450px;
    margin: 2% auto 0;
    display: block;
    position: relative;
  }

  .slideSection.currentActive .slider-content {
    left: 2.5%;
  }

  .slideSection .slider-content {
    width: 95%;
    bottom: 9%;
  }
}

@media (max-width: 768px) {

  .slider-section-setting, .buttons-slider-section-settings a {
    height: 60vh;
  }

  .buttons-slider-section-settings {
    bottom: 60vh;
  }

  .buttons-slider-section-settings a {
    padding: 30vh 8px;
  }

  .slideSection .slider-graphic-content img {
    width: 100%;
    margin-top: 0px;
  }

  .slideSection .slider-content {
    bottom: 3%;
  }
  .buttons-slider-section-settings a {
    --p: 0.3 !important;
  }
}