.mouse-scroll-animation span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #091f40;
    border-bottom: 2px solid #091f40;
    margin: 0 0 1px 6px;
}

.mouse-scroll-animation {
    height: 27px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #091f40;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.mouse-scroll-animation .down-arrow-1,
.mouse-scroll-animation .down-arrow-2,
.mouse-scroll-animation .down-arrow-3 {
    animation: mouse-scroll 1.1s infinite;
}

.mouse-scroll-animation .down-arrow-1 {
    margin-top: 3px;
    animation-delay: .1s;
    animation-direction: alternate;
}

.mouse-scroll-animation .down-arrow-2 {
    animation-delay: .4s;
    animation-direction: alternate;
}

.mouse-scroll-animation .down-arrow-3 {
    animation-delay: .7s;
    animation-direction: alternate;
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}