.small-color-box {
    width: 10px;
    height: 11px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin-right: 4px;
}

.case-study-pages .vertical-slider-setting {
    box-shadow: 3px 4px 5px 3px rgba(0,0,0, 0.3);
}

@media (max-width: 979px) {
    .case-study-pages .vertical-slider-setting {
        height: 100%;
    }
}