.introduction-section {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('/images/Background-introduction.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
p {
    margin: 0;
}

/*===================
animation01
====================*/
.animation01 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.border_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 10vw;
}

.line {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #091f40;
    opacity: 0;
}

.line01 {
    top: 0;
    left: 100%;
    width: 0.15vw;
    height: 10.15vw;
    transform-origin: bottom;
    animation: animation01_line01 0.2s linear 0.3s forwards;
}

.line03 {
    top: 0;
    left: 0;
    width: 0.15vw;
    height: 10.15vw;
    transform-origin: bottom;
    animation: animation01_line01 0.2s linear 0.6s forwards;
}

@keyframes animation01_line01 {
    0% {
        transform: scale3d(1, 0, 1);
        opacity: 1;
    }

    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.line02 {
    top: 100%;
    left: 0;
    width: 20.15vw;
    height: 0.15vw;
    transform-origin: right;
    animation: animation01_line02 0.2s linear 0.4s forwards;
}

.line04 {
    top: 0;
    left: 0;
    width: 20.15vw;
    height: 0.15vw;
    transform-origin: left;
    animation: animation01_line02 0.2s linear 0.8s forwards;
}

@keyframes animation01_line02 {
    0% {
        transform: scale3d(0, 1, 1);
        opacity: 1;
    }

    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.circle {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.2vw;
    height: 1.2vw;
    border: 0.1vw solid #fff;
    border-radius: 50%;
    opacity: 0;
}

.circle01 {
    top: 96%;
    left: 96%;
    margin: 0 auto;
    animation: animation01_circle 0.3s linear 0.3s forwards;
}

.circle02 {
    top: 96%;
    left: -99%;
    margin: 0 auto;
    animation: animation01_circle 0.3s linear 0.45s forwards;
}

.circle03 {
    top: -4%;
    left: -99%;
    margin: 0 auto;
    animation: animation01_circle 0.3s linear 0.65s forwards;
}

.circle04 {
    top: -4%;
    left: 96%;
    margin: 0 auto;
    animation: animation01_circle 0.3s linear 0.85s forwards;
}

@keyframes animation01_circle {
    0% {
        transform: scale3d(0, 0, 1);
        opacity: 1;
    }

    40% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    60% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    100% {
        transform: scale3d(0, 0, 1);
        opacity: 1;
    }
}

.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17.5vw;
    height: 15.5vw;
    overflow: hidden;
}

.wave_wrapper {
    width: 200%;
    height: 150%;
    position: absolute;
    top: -25%;
    right: 0;
    bottom: 0;
    left: -50%;
    margin: 0 auto;
    animation: animation01_wave_wrapper 1s linear 1s forwards;
}

@keyframes animation01_wave_wrapper {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.wave_box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-image: url('/images/Logo-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: bottom;
    background-position: center center;
    animation: animation01_wave_box 1s linear 1s forwards;
    opacity: 0;
}

@keyframes animation01_wave_box {
    0% {
        transform: scale3d(1, 0, 1);
        opacity: 1;
    }

    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.animation_line {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0;
}

.animation_line_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.animation_line01 {
    top: -18%;
    left: 0;
    width: 0.2vw;
    height: 0.7vw;
    animation: animation_line01 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: top;
}

.animation_line02_wrapper {
    transform: rotate(45deg)
}

.animation_line02 {
    top: -82%;
    left: 41%;
    width: 0.2vw;
    height: 0.7vw;
    animation: animation_line01 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: top;
}

@keyframes animation_line01 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1.5vw);
        opacity: 1;
    }
}

.animation_line03 {
    top: 50%;
    left: 110%;
    width: 0.7vw;
    height: 0.2vw;
    animation: animation_line03 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: right;
}

.animation_line04_wrapper {
    transform: rotate(45deg)
}

.animation_line04 {
    top: 11%;
    left: 115%;
    width: 0.7vw;
    height: 0.2vw;
    animation: animation_line03 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: right;
}

@keyframes animation_line03 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(1.5vw);
        opacity: 1;
    }
}

.animation_line05 {
    top: 115%;
    left: 0;
    width: 0.2vw;
    height: 0.7vw;
    animation: animation_line05 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: bottom;
}

.animation_line06_wrapper {
    transform: rotate(45deg)
}

.animation_line06 {
    top: 175%;
    left: -36%;
    width: 0.2vw;
    height: 0.7vw;
    animation: animation_line05 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: bottom;
}

@keyframes animation_line05 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1.5vw);
        opacity: 1;
    }
}

.animation_line07 {
    top: 50%;
    left: -130%;
    width: 0.7vw;
    height: 0.2vw;
    animation: animation_line07 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: left;
}

.animation_line08_wrapper {
    transform: rotate(45deg)
}

.animation_line08 {
    top: 90%;
    left: -128%;
    width: 0.7vw;
    height: 0.2vw;
    animation: animation_line07 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s;
    transform-origin: left;
}

@keyframes animation_line07 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-1.5vw);
        opacity: 1;
    }
}

.rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rhombus 0.2s linear 2.2s forwards;
}

@keyframes rhombus {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(45deg)
    }
}

.rhombus_small {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rhombus_small 0.4s linear 2.55s forwards;
}

@keyframes rhombus_small {
    0% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    99% {
        transform: scale3d(0.15, 0.15, 0.15);
        opacity: 1;
    }

    100% {
        transform: scale3d(0.15, 0.15, 0.15);
        opacity: 0;
    }
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    animation: name 1.0s cubic-bezier(0.165, 0.84, 0.44, 1) 3s forwards;
    opacity: 0;
    text-align: center;
}

.name p {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
}

.name p span {
    font-weight: 500;
}

@keyframes name {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.words span {
    animation: rotateWordsSecond 22s ease-in-out 0s;
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    max-width: 22em;
    text-overflow: ellipsis;
}

.words2 {
    white-space: nowrap;
    color: #fff;
}

.words span:nth-child(1) {
    animation-delay: 2s;
}

.words span:nth-child(2) {
    animation-delay: 4.5s;
}

.words span:nth-child(3) {
    animation-delay: 7.5s;
}

.words span:nth-child(4) {
    animation-delay: 10.5s;
}

.words span:nth-child(5) {
    animation-delay: 13.5s;
}

.words span:nth-child(6) {
    animation-delay: 16.5s;
}

.words span:nth-child(7) {
    animation-delay: 19.5s;
}

@keyframes rotateWordsSecond {
    0% {
        opacity: 1;
        width: 0%;
    }

    14% {
        opacity: 1;
        width: 500px;
    }

    14.1% {
        opacity: 0;
        width: 0%;
    }
}

#cycle-words {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    opacity: 0;
}

.introduction-graphic-setting {
    width: 50%;
}